{ erl_opts, [debug_info] }.
{ deps, [] }.

{ relx, [{ release, { woof_serv, "0.1.0" }, [woof_serv] },
         { dev_mode, true },
         { include_erts, false },
         { extended_start_script, true },
         { include_src, false }
        ]
}.

{ profiles, [{ prod,
               [{ relx, [{ dev_mode, false },
                         { include_erts, true }] }] }
            ]
}.

